{
    "otgw" : {
        "type": "tcp",
        "host": "127.0.0.1",
        "port": 3000,
        "data_timeout": 20
    },
    "mqtt" : {
        "client_id": "otgw",
        "host": "127.0.0.1",
        "port": 1883,
        "keepalive": 60,
        "bind_address": "",
        "username": "home",
        "password": "hellmann",
        "qos": 0,
        "pub_topic_namespace": "otgw/value",
        "sub_topic_namespace": "otgw/set",
        "retain": false
    }
}
